todo.md
.DS_Store
src/tetris_implementation/tetris
src/tetris_implementation/communication.o
src/tetris_implementation/tetris.o
.idea
src/tetris_implementation/fifo_controls
src/tetris_implementation/fifo_states
src/cpp/logger.o
.vscode
src/cpp/game.o
src/cpp/communication.o
src/cpp/tetris.o
src/cpp/main.o
logs/log_*
logs/py_log*
logs/cpp_log*
src/__pycache__
tests/__pycache__
models/model.*
src/test.py
res/saved_game.pkl
res/collected_logs
res/*.html